.siteNav {
  font-weight: 500;
  display: block;
  margin: 0;
  padding: 20px;
  background-color: rgb(48, 48, 48);
}

.navLink {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: rgb(99, 223, 51);
    border-bottom: gray 1px solid;
  }
}

.activeNavLink {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(99, 223, 51);
}
